spring:
  profiles:
    active: local
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/docfiller
    username: postgres
    password: root
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: create
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
  sql:
    init:
      mode: always
jwt:
  secret: "dG9rZW5zZWNyZXRrZXlmb3Jkb2NmaWxsZXJhcHBsaWNhdGlvbnRoYXRpc2F0bGVhc3Q2NGJ5dGVzbG9uZ2Zvckhhc2g1MTI="
  expiration: 86400000